body {
	font-family:	Arial, Helvetica, sans-serif;
	font-size:		12px;
	background-color: #fcfcff;
	margin: 0px 0px 0px;
	padding: 24px;
};

select {width: 200px}

a:visited, a:active,  a:link {
	color:			#4040f0;
	text-transform: uppercase;
	text-decoration: none;
	font-size:		12px;
	font-weight:	bold;
	font-style:		italic;
}
a:hover {
	color:			#ff6060;
	text-transform: uppercase;
	text-decoration: none;
	font-size:		12px;
	font-weight:	bold;
	font-style:		italic;
}


input[type=text], input[type=password] {
	width: 180px;
	border-right: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #a0a0a0;
	border-left: 1px solid #a0a0a0;
}

select {
	margin: 6px 6px 6px 6px
}
table {
	background-color: #ececec;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #a0a0a0;
	border-bottom: 1px solid #a0a0a0;
}
td {padding: 5px;
	background-color: #f4f4f4;
}
.odd td {padding: 5px;
	background-color: #fff8f8;
}
.even td {padding: 5px;
	background-color: #e4e4f4;
}
.popup {
	padding: 8px;
	border: 1px solid #a0a0a0;
	background-color: #fcfcfc;
}
.popup p {text-align: center}
.state {width: 18px}
.zip {width: 80px}
.active td {background-color: #fe9090}
.address, .phone {
	background-color: #f0f0f0;
	margin: 4px 4px 4px 4px;
	padding: 4px;
}
